*, *::before, *::after {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: darkviolet;
}
.miniContainer {
	width: 80%;
	height: 70vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3vh;
}
.div1 {
	width: 30%;
	height: 100%;
	border-radius: 2vh;
	background: darkmagenta;
	box-shadow: 0 1vh 1vh 0 rgba(0, 0, 0, 0.7);
}
.div2 {
	width: 70%;
	height: 100%;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto;
	grid-gap: 3vh;
}
.profile-div {
	height: 70%;
	background: violet;
	padding: 3vh 0 0 3vh;
	border-radius: 2vh;
	box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.3);
}
.profile-pic {
	border: 3px solid white;
	border-radius: 50%;
	width: 30%;
}
.profile-pic img {
	display: block;
	width: 100%;
	height: 100%;
}
.profile-div p {
	font-size: 2vh;
	margin-top: 4vh;
	color: white;
}
.profile-div h1 {
	font-size: 5vh;
	color: white;
}
.mode {
	height: 30%;
	padding: 3vh 0 0 3vh;
}
.mode button {
	display: block;
	margin-top: 1vh;
	border: none;
	background: transparent;
	font-size: 3vh;
	color: darkgray;
	cursor: pointer;
	transition: 0.1s;
}
.mode button:hover {
	font-weight: bold;
	color: black;
}
.daily-active, .weekly-active, .monthly-active {
	font-weight: bold;
	color: white !important;
}
.div2 div {
	border-radius: 2vh;
	box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.5);
	color: white;
}
.title-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2vh;
	box-shadow: none !important;
	font-size: 2vh;
}
.title-div img {
	display: block;
	width: 15%;
}
.text {
	padding: 2vh 0 0 2vh;
}
.big {
	font-size: 3vh;
	font-weight: bold;
}
.small {
	font-size: 2vh;
}
.hours-div {
	box-shadow: none !important;
}
.work {
	background: hsl(15, 100%, 70%) url(images/icon-work.svg) no-repeat;
	background-position: 90% top;
	background-size: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.work-time {
	height: 80%;
	border-radius: 2vh;
	background: hsl(15, 100%, 65%, 1.0);
	cursor: pointer;
	transition: 0.3s;
}
.work-time:hover {
	background: rgba(255, 0, 0, 0.5);
}
.play {
	background: hsl(195, 74%, 62%) url(images/icon-play.svg) no-repeat;
	background-position: 90% top;
	background-size: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.play-time {
	height: 80%;
	border-radius: 2vh;
	background: hsl(210, 100%, 65%, 1.0);
	cursor: pointer;
	transition: 0.3s;
}
.play-time:hover {
	background: rgba(0, 0, 255, 1.0);
}
.study {
	background: hsl(348, 100%, 68%) url(images/icon-study.svg) no-repeat;
	background-position: 90% top;
	background-size: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.study-time {
	height: 80%;
	border-radius: 2vh;
	background: hsl(0, 100%, 65%, 1.0);
	cursor: pointer;
	transition: 0.3s;
}
.study-time:hover {
	background: rgba(255, 0, 0, 1.0);
}
.exercise {
	background: hsl(145, 58%, 55%) url(images/icon-exercise.svg) no-repeat;
	background-position: 90% top;
	background-size: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.exercise-time {
	height: 80%;
	border-radius: 2vh;
	background: hsl(170, 100%, 40%, 1.0);
	cursor: pointer;
	transition: 0.3s;
}
.exercise-time:hover {
	background: rgba(0, 200, 0, 1.0);
}
.social {
	background: hsl(264, 64%, 52%) url(images/icon-social.svg) no-repeat;
	background-position: 90% top;
	background-size: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.social-time {
	height: 80%;
	border-radius: 2vh;
	background: hsl(260, 100%, 65%, 1.0);
	cursor: pointer;
	transition: 0.3s;
}
.social-time:hover {
	background: rgba(200, 0, 200, 1.0);
}
.self-care {
	background: hsl(43, 84%, 65%) url(images/icon-self-care.svg) no-repeat;
	background-position: 90% top;
	background-size: 25%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.self-time {
	height: 80%;
	border-radius: 2vh;
	background: hsl(50, 100%, 45%, 1.0);
	cursor: pointer;
	transition: 0.3s;
}
.self-time:hover {
	background: rgba(210, 210, 0, 1.0);
}

.left {
	animation: left 1 1.5s linear;
}
.right {
	animation: right 1 1.5s linear;
}
.up {
	animation: up 1 1.5s linear;
}
.down {
	animation: down 1 1.5s linear;
}

@keyframes left {
	0% { 
		opacity: 0;
		transform: translateX(-2px);
		-webkit-transform: translateX(-2px);
	}
	50% { 
		opacity: 1;
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}
@keyframes right {
	0% { 
		opacity: 0;
		transform: translateX(2px);
		-webkit-transform: translateX(2px);
	}
	50% { 
		opacity: 1;
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}
@keyframes up {
	0% { 
		opacity: 0;
		transform: translateY(2px);
		-webkit-transform: translateY(2px);
	}
	50% { 
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}
@keyframes down {
	0% { 
		opacity: 0;
		transform: translateY(-2px);
		-webkit-transform: translateY(-2px);
	}
	50% { 
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}

@media screen and (orientation: portrait) {
	.container {
		height: initial;
		display: flex;
		flex-direction: column;
		background: darkviolet;
		padding: 2vh;
	}
	.miniContainer {
		width: 100%;
		height: initial;
		display: flex;
		flex-direction: column;
		gap: 2vh;
	}
	.div1 {
		width: 100%;
		height: initial;
		border-radius: 2vh;
		background: darkmagenta;
		box-shadow: 0 1vh 1vh 0 rgba(0, 0, 0, 0.7);
	}
	.hd-text {
		display: flex;
		gap: 2vh;
	}
	.hd-text h1 {
		font-size: 2.5vh;
	}
	.profile-div {
		height: initial;
		background: violet;
		padding: 3vh 0 3vh 3vh;
		border-radius: 2vh;
		box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.3);
	}
	.profile-pic {
		border: 3px solid white;
		border-radius: 50%;
		width: 25%;
	}
	.mode {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 2vh;
		margin: 0;
	}
	.mode button {
		font-size: 2.5vh;
	}
	.div2 {
		width: 100%;
		height: initial;
		display: grid;
		grid-template-columns: auto;
		gap: 2vh;
	}
	.work {
		grid-column: 1 / span 1;
		grid-row: 1 / span 12;
		background-size: 17%;
	}
	.play {
		grid-column: 1 / span 1;
		grid-row: 13 / span 12;
		background-size: 17%;
	}
	.study {
		grid-column: 1 / span 1;
		grid-row: 25 / span 12;
		background-size: 17%;
	}
	.exercise {
		grid-column: 1 / span 1;
		grid-row: 37 / span 12;
		background-size: 17%;
	}
	.social {
		grid-column: 1 / span 1;
		grid-row: 49 / span 12;
		background-size: 17%;
	}
	.self-care {
		grid-column: 1 / span 1;
		grid-row: 61 / span 12;
		background-size: 17%;
	}
	.hours-div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.title-div {
		font-size: 2vh;
	}
	.title-div img {
		display: block;
		width: 10%;
	}
	.text {
		padding: 2vh 2vh 0 2vh;
	}
	.big {
		font-size: 3vh;
		font-weight: bold;
	}
	.small {
		font-size: 2vh;
	}
}

@media screen and (max-width: 1250px) {
	.container {
		height: initial;
		display: flex;
		flex-direction: column;
		background: darkviolet;
		padding: 2vh;
	}
	.miniContainer {
		width: 100%;
		height: initial;
		display: flex;
		flex-direction: column;
		gap: 2vh;
	}
	.div1 {
		width: 100%;
		height: initial;
		border-radius: 2vh;
		background: darkmagenta;
		box-shadow: 0 1vh 1vh 0 rgba(0, 0, 0, 0.7);
	}
	.hd-text {
		display: flex;
		gap: 2vh;
	}
	.hd-text h1 {
		font-size: 2.5vh;
	}
	.profile-div {
		height: initial;
		background: violet;
		padding: 3vh 0 3vh 3vh;
		border-radius: 2vh;
		box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.3);
	}
	.profile-pic {
		border: 3px solid white;
		border-radius: 50%;
		width: 25%;
	}
	.mode {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 2vh;
		margin: 0;
	}
	.mode button {
		font-size: 2.5vh;
	}
	.div2 {
		width: 100%;
		height: initial;
		display: grid;
		grid-template-columns: auto;
		gap: 2vh;
	}
	.work {
		grid-column: 1 / span 1;
		grid-row: 1 / span 12;
		background-size: 17%;
	}
	.play {
		grid-column: 1 / span 1;
		grid-row: 13 / span 12;
		background-size: 17%;
	}
	.study {
		grid-column: 1 / span 1;
		grid-row: 25 / span 12;
		background-size: 17%;
	}
	.exercise {
		grid-column: 1 / span 1;
		grid-row: 37 / span 12;
		background-size: 17%;
	}
	.social {
		grid-column: 1 / span 1;
		grid-row: 49 / span 12;
		background-size: 17%;
	}
	.self-care {
		grid-column: 1 / span 1;
		grid-row: 61 / span 12;
		background-size: 17%;
	}
	.hours-div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.title-div {
		font-size: 2vh;
	}
	.title-div img {
		display: block;
		width: 5%;
	}
	.text {
		padding: 2vh 2vh 0 2vh;
	}
	.big {
		font-size: 3vh;
		font-weight: bold;
	}
	.small {
		font-size: 2vh;
	}	
}

@media screen and (max-height: 400px) {
	.container {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		background: darkviolet;
		padding: 2vh;
	}
	.miniContainer {
		width: 95%;
		height: 90%;
		display: flex;
		flex-direction: row;
		gap: 3vh;
	}
	.div1 {
		width: 30%;
		height: 100%;
		border-radius: 2vh;
		background: darkmagenta;
		box-shadow: 0 1vh 1vh 0 rgba(0, 0, 0, 0.7);
	}
	.hd-text {
		display: initial;
		gap: 2vh;
	}
	.hd-text h1 {
		font-size: 7.2vh;
	}
	.hd-text p {
		font-size: 3vh;
	}
	.profile-div {
		height: 65vh;
		background: violet;
		padding: 3vh 0 3vh 3vh;
		border-radius: 2vh;
		box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.3);
	}
	.profile-pic {
		border: 3px solid white;
		border-radius: 50%;
		width: 20vh;
	}
	.mode {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2vh;
		margin: 1vh;
	}
	.mode button {
		font-size: 3vh;
	}
	.div2 {
		width: 70%;
		height: 100%;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: 40vh 40vh;
		gap: 3vh;
	}
	.work {
		grid-column: initial;
		grid-row: initial;
		background-size: 20%;
	}
	.play {
		grid-column: initial;
		grid-row: initial;
		background-size: 20%;
	}
	.study {
		grid-column: initial;
		grid-row: initial;
		background-size: 20%;
	}
	.exercise {
		grid-column: initial;
		grid-row: initial;
		background-size: 20%;
	}
	.social {
		grid-column: initial;
		grid-row: initial;
		background-size: 20%;
	}
	.self-care {
		grid-column: initial;
		grid-row: initial;
		background-size: 20%;
	}
	.hours-div {
		display: initial;
	}
	.title-div {
		font-size: 3vh;
	}
	.title-div img {
		display: block;
		width: 10%;
	}
	.text {
		padding: 2vh 2vh 0 2vh;
	}
	.big {
		font-size: 4vh;
		font-weight: bold;
	}
	.small {
		font-size: 3vh;
	}
}
